# Desktop icon
desktop.ini

# Prevent executables
*.exe

# Exclude folders
CPP_Wrong/
Programs/Number-system/

# Exclude files
HR.CPP/9-1.cpp
Multiply_with_matrix-2.cpp
Challenge.txt
04.Variable-Constants/test.cpp
5.Valid_Parentheses-1.cpp
Test.cpp
Test2.cpp
Test3.cpp